body{
    font-family: 'Tektur', sans-serif;
    background-color: #3e437d;
    color: whitesmoke;
    min-width: 100%;
    padding: 0;
    border: 0;
    margin: 0;
}
div{
    min-width: 100%;
}

/* NAVBAR */
nav {
    border: 0px;
    border-bottom: 2px solid black;
    background-color: transparent;
    width: 40%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

.navButton{
    font-family: 'Tektur', sans-serif;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    display: block;
    background-color: transparent;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navButton:hover {
    background-color: #d7d5e3;
    color: black;
}

/* IMAGES */
img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}


/* FOOTER */
footer{
    background-color: #0a0644;
    padding: 0;
    width: 100%;
    position: absolute;
    bottom: 0;
}