body{
    font-family: 'Tektur', sans-serif;
    background: rgb(146,109,254);
    background: linear-gradient(180deg, rgba(146,109,254,1) 0%, rgba(10,6,68,1) 100%);
    color: whitesmoke;
    padding: 0;
    border: 0;
    margin: 0;
}
.basic{
    padding-top: 1%;
    min-height: 50vw;
}
section{
    padding: 0.5vw;
}

/* NAVBAR */
.navbarContainer{
    text-align: center;
    align-items: center;
}

nav {
    position: fixed;
    top: 0;
    z-index: 1000;
    display: inline-block;
    border: 0px;
    border-bottom: 0.2vw solid black;
    background-color: transparent;
    width: 30%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

.navButton{
    font-family: 'Tektur', sans-serif;
    padding: 1vw 2vw;
    font-size: 1.5vw;
    cursor: pointer;
    border: none;
    border-radius: 0.5vw;
    display: block;
    background-color: transparent;
    color: whitesmoke;
    padding: 14px 16px;
}

.navButton:hover {
    background-color: #d7d5e3;
    color: black;
}

/* IMAGES */
.mainImg {
    box-shadow: 0.5vw 0.5vw 0.5vw black;
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}
.logo{
    margin: 0;
    padding: 0.5vw;
    border-radius: 1.5vw;
}

/* FOOTER */
footer{
    background-color: #0a0644;
    padding: 0;
    width: 100%;
    bottom: 0;
}