.gallery{
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
}
.galButton{
    font-family: 'Tektur', sans-serif;
    padding: 1vw 2vw;
    font-size: 1.5vw;
    cursor: pointer;
    border: none;
    border-radius: 0.5vw;
    display: block;
    background-color: transparent;
    color: whitesmoke;
    padding: 14px 16px;
}
.galButton:hover {
    background-color: #d7d5e3;
    color: black;
}

.centerDiv{
    display: flex;
    justify-content: center;
    align-items: center;
}
.bigText{
    font-size: 3vw;
}
.medText{
    font-size: 2.5vw;
}
.homeArt{
    padding: 5vw;
}
.fixUp{
    padding-top: 0;
}
#comicImg{
    width: 90%;
}
.links{
    size: 50%;
}
.comSel:hover{
    color: green;
}
.comSel{
    color: wheat;
}
.comSel:visited{
    color: wheat;
}
#pageNum{
    background-color: transparent;
    color: white;
    text-align: center;
    width: 50%;
    border: 2px solid white;
    border-radius: 20px;
}
.left{
    float: left;
}
.right{
    float: right;
}
